.video {
   background-color: $primary;
   
   &__container{
      padding: 0;
      max-height: 415px;
   }
   &__row {
      display: flex;
      justify-content: space-between;
      align-items: center
   }
   &__title {
      
      max-width: 656px;
      margin-right: 20px;
   }
  
}
